* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  
  /**********************HEADER-IMG-LOG***********************/


  header {
    width: 100%;
  }
  
  .head-container {
    width: 100%;
    height: 700px;
    background-image: url("logo/logo/bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .logo-container {
    display: flex;
    padding: 20px 0 0 300px;
  }
  
  .logo {
    display: inline-block;
  }
  
  .logo-h2 {
    display: inline-block;
    color: rgb(55, 224, 247);
    margin: 10px 0 0 10px;
    font-weight: 100;
    font-size: 26px;
  }
  
  /**************************NAV-BAR***************************/
  
  .nav-container {
    position: absolute;
    display: inline-block;
    margin: -25px 0 0 870px;
  }
  
  .nav ul {
    display: flex;
  }
  
  .nav li {
    list-style-type: none;
    text-decoration: none;
    padding: 0 9px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }
  
  a:hover {
    color: rgb(55, 224, 247);
    transition: 0.4s;
  }


  
  @media screen and (max-width: 1600px) and (min-width: 1500px) {
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 770px;
    }
  }
  
  @media screen and (max-width: 1500px) and (min-width: 1450px) {
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 730px;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1290px) and (min-width: 1190px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 200px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 550px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 8px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 420px) and (min-width: 200px) {
    .nav-container {
      width: 100%;
      margin: 0 auto;
    }
  
    .nav ul {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 5px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  

  /*****************************H1-P-BUTTON****************************/
  

  .h1-container {
    width: 100%;
  
    margin-top: 200px;
  }
  
  .header-h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  
  .line {
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    color: rgb(55, 224, 247);
  }
  
  .header-p {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    max-width: 850px;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
  }
  
  .button-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 35px 0 0 0;
  }
  
  .header-button {
    border: 1px solid rgb(55, 224, 247);
    color: rgb(55, 224, 247);
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    word-spacing: 5px;
    text-decoration: none;
  }
  
  .header-button:hover {
    color: #fff;
    background-color: rgb(55, 224, 247);
    border: 1px solid #fff;
  }



  /*******************************END OF HEADER*******************************/
  /**************************************************************************/
 

  
  /******************************* Section 1 - OUR STORY ******************************/


  
  .ourstory {
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 450px;
  }
  
  .logo-ourstory {
    display: flex;
    flex-direction: row;
    padding: 120px;
    padding-left: 24%;
    float: left;
  }
  
  .ourstory-h1 {
    padding: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    padding-bottom: 15px;
  }
  
  .text-ourstory {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
  }
  
  .button-container-s1 {
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 35px 0 0 0;
  }
  
  .header-button-s1 {
    border: 1px solid rgb(55, 224, 247);
    color: rgb(55, 224, 247);
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    word-spacing: 5px;
    text-decoration: none;
  }
  
  .header-button-s1:hover {
    color: #fff;
    background-color: rgb(55, 224, 247);
    border: 1px solid #fff;
  }
  


  /***************************** Section 2 - WATCH OUR STORY ******************************/
  


  .section-2-container {
    background-image: url("logo/logo/bgk-middle.png");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .play-logo-h2 {
    display: inline-flexbox;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
  }
  
  .logo-story-container {
    display: inline-flexbox;
    text-align: center;
    color: white;
    padding: 300px 500px;
  }


  
  /********************************* Section 3 - EXPERTISE************************************/
  
  

  .section-3-container {
    width: 100%;
  }
  
  .section-3-inner-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .sec-3-h3 {
    padding: 60px 0 10px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #111;
  }
  
  .sec-3-p {
    color: rgb(97, 94, 94);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }
  
  .sec-3-line {
    color:  rgb(55, 224, 247);
  }


  /**********************IMG_DISPLAY_ROW_1**********************/


  .sec-3-display-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }
  
  .sec-3-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .sec-3-row {
    display: flex;
    justify-content: center;
  }
  
  .sec-3-row + .sec-2-row {
    margin-left: 40px;
  }
  
  .sec-3-col {
    padding: 10px;
    max-width: 700px;
    border-bottom: 1px solid rgb(218, 215, 215);
  }
  
  .col-class-3 {
    border-right: 1px solid rgb(218, 215, 215);
    border-left: 1px solid rgb(218, 215, 215);
  }
  
  .sec-3-img {
    padding-top: 20px;
  }
  
  .sec-3-h4 {
    padding: 21px 0 5px 0;
    font-size: 13px;
    color: #111;
  }
  
  .sec-3-display-p {
    max-width: 250px;
    padding: 12px 5px 25px 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: rgb(97, 94, 94);
  }
  
  @media screen and (max-width: 700px) and (min-width: 100px) {
    .sec-3-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .sec-3-col {
      padding: 10px;
      max-width: 700px;
      border-bottom: 0px solid rgb(184, 179, 179);
    }
  
    .col-class-3 {
      border-right: 0px solid rgb(184, 179, 179);
      border-left: 0px solid rgb(184, 179, 179);
    }
  }

  
  /************************IMG_DISPLAY_ROW_2*************************/

  
  .sec-3-2-display-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 00px;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .sec-3-2-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .sec-3-2-row {
    display: flex;
    justify-content: center;
  }
  
  .sec-3-2-row + .sec-2-2-row {
    margin-left: 40px;
  }
  
  .sec-3-2-col {
    padding: 9px;
    max-width: 700px;
  }
  
  .col-class-3 {
    border-right: 1px solid rgb(218, 215, 215);
    border-left: 1px solid rgb(218, 215, 215);
  }
  

  @media screen and (max-width: 700px) and (min-width: 100px) {
    .col-class-3 {
      border-right: 0px solid rgb(184, 179, 179);
      border-left: 0px solid rgb(184, 179, 179);
    }
  }
  
  .sec-3-2-img {
    padding-top: 20px;
  }
  
  .sec-3-2-h4 {
    padding: 20px 0 5px 0;
    font-size: 13px;
    color: #111;
  }
  
  .sec-3-2-display-p {
    max-width: 250px;
    padding: 10px 5px 10px 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: rgb(97, 94, 94);
  }
  
  @media screen and (max-width: 700px) and (min-width: 100px) {
    .sec-3-2-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }


  /*************************Section 4 - MEET OUR AMAZING TEAM***************************/


  .sec-4-container {
    width: 100%;
    padding: 30px 0;
  }

  .sec-4-background {
    background-image: url(logo/logo/bgk-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    }

    .sec-4-inner-container {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      height: 600px;
    }

    .sec-4-h2 {
      padding: 70px 10px 15px 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 21px;
      color: #fff;
      font-weight: 500;
    }

    .sec-4-p {
      padding: 0 10px 0 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #fff;
    }

    .sec-4-line {
      padding-top: 5px;
      color: rgb(55, 224, 247);
      font-weight: 500;
    }

    .button-container {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 90px 0 0 0;
    }
    
    .header-button {
      border: 1px solid rgb(55, 224, 247);
      color: rgb(55, 224, 247);
      padding: 8px;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;
      word-spacing: 5px;
      text-decoration: none;
    }
    
    .header-button:hover {
      color: #fff;
      background-color: rgb(55, 224, 247);
      border: 1px solid #fff;
    }

    .button-container-p-s4 {
      color: white;
      font-size: 12px;
      font-weight: 200px;
      padding: 25px;
      text-align: center;
    }


    /********************************BOXES*********************************/


  .four-box-container {
    width: 100%;
    padding-top: 50px;
    color: #fff;
  }

  .inside-box-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
  }

  .sec-4-link {
    text-decoration: none;
  }

  .inside-box {
    width: 100%;
    max-width: 200px;
    height: 150px;
    padding-top: 158px;
    background-color: #fff;
  }

  .inside-box:hover {
    background-color:  rgb(55, 225, 247);
    transition: 0.4s;
  }
  
  .boxes-1 {
    margin: 0 20px;
    width: 21%;
    max-width: 179px;
    min-width: 179px;
  }

  .box-h4 {
    width: 179px;
    padding: 10px 0 4px 0;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 0px solid rgba(255, 255, 255, 0);
  }

  .box-p {
    padding-bottom: 10px; 
    width: 179px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    border: 1px solid #fff;
    border-top: 0px solid rgba(255, 255, 255, 0);
  }



  @media screen and (max-width: 876px) and (min-width: 765px){

    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }

    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 200px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }

    .boxes-1 {
      margin: 0 5px;
      width: 21%;
      max-width: 179px;
      min-width: 179px;
    }
  }


  @media screen and (max-width: 765px) and (min-width: 640px){

    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }

    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 150px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }

    .boxes-1 {
      margin: 0 5px;
      width: 21%;
      max-width: 150px;
      min-width: 150px;
    }

    .box-h4 {
      width: 150px;
      padding: 10px 0 4px 0;
      font-size: 13px;
      font-weight: 700;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 0px solid rgba(255, 255, 255, 0);
    }
  
    .box-p {
      padding-bottom: 10px; 
      width: 150px;
      font-weight: 300;
      font-size: 10px;
      border: 1px solid #fff;
      border-top: 0px solid rgba(255, 255, 255, 0);
    }
  }



  /************************Section 5 - GOOD NEWS FORM************************/

  

  .GOODNEWSFORM {
    width: 110%;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    padding: 80px 0;
  }



  @media screen and (max-width: 1299px) and (min-width: 500px){
    .container {
      width: 60%;
      text-align: center;
      margin: 0 0 0 455px;
      padding-top: 30px;
    }

    .sec-5-h3 {
      font-size: 21px;
      font-weight: 600;
      margin: 0 300px 0 0;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 900px){
    .container {
      width: 50%;
      text-align: center;
      margin: 0 0 0 300px;
      padding-top: 30px;
    }

    .sec-5-h3 {
      position: relative;
      font-size: 21px;
      font-weight: 600;
      margin: 0 200px 0 0;
      right: 0px;
    }
  }

  .sec-5-h3 {
    font-size: 21px;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
    min-width: 300px;
    padding: 20px 0;
  }

@media screen and (max-width: 500px) and (min-width: 300px){
  form {
    display: flex;
    flex-direction: column;
    width: 35%;
    max-width: 40%;
    min-width: 250px;
    padding: 20px 0;
  }
}


  input[type="text"],
  textarea {
    border: 1px solid rgb(231, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 2px;
  }

  #name:hover {
    background-color:  rgb(246, 251, 252);
    cursor: pointer;
  }

  #email:hover {
    background-color:  rgb(246, 251, 252);
    cursor: pointer;
  }

  #subject:hover {
    background-color:  rgb(246, 251, 252);
    cursor: pointer;
  }

  textarea:hover {
    background-color:  rgb(246, 251, 252);
    cursor: pointer;
  }

  input[type="submit"] {
    background-color: #fff;
    color: rgb(55, 224, 247);
    width: 90px;
    padding: 7px;
    margin: 15px 0 0 0;
    font-weight: 500;
    border: 1px solid rgb(55, 224, 247);
    border-radius: 2px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    color: #fff;
    background-color: rgb(55, 224, 247);
    border: 1px solid rgb(55, 224, 247);
    transition: 0.4s;
  }


  
  /********************Section 6 - LOGOS*********************/



  .sec-6-container {
    position: absolute;
    width: 35%;
    padding: 50px 0;
    margin: -560px 0 0px 930px;
  }

  .sec-6-inner-container {
    width: 100%;
  }

  .sec-6-h3-2 {
    font-size: 21px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: -40px;
  }

  .sec-6-img {
    margin: 120px 0 130px;
  }

  .first-img-row {
    width: 30%;
    display: flex;
    margin: 5px 0 0px 150px;
    flex-direction: column;
  }

  .second-img-row {
    width: 30%;
    display: flex;
    margin: -465px 0 0 420px;
    flex-direction: column;
  }


  @media screen and (max-width: 1646px) and (min-width: 1340px){
    .sec-6-h3-2 {
      font-size: 21px;
      font-weight: 500;
      margin-left: -60px;
      margin-top: -30px;
    }

    .sec-6-img {
      margin: 25px 0 25px -200px;
    }
  }

  @media screen and (max-width: 1340px) and (min-width: 1299px){
    .sec-6-h3-2 {
      font-size: 21px;
      font-weight: 500;
      margin-left: -60px;
      margin-top: -30px;
    }

    .sec-6-img {
      margin: 25px 0 25px -200px;
    }
  }

  @media screen and (max-width: 1299px) and (min-width: 1100px){
    .sec-6-h3-2 {
      position: absolute;
      font-size: 21px;
      font-weight: 500;
      top: 500px;
      left: -305px;
    }

    .sec-6-h3-2 {
      font-size: 21px;
      font-weight: 600;
      margin-left: -60px;
      margin-top: -30px;
    }

    .sec-6-img {
      position: relative;
      right: 500px;
      top: 500px;
    }
  }


  /********************Section 7 - FOOTER********************/