* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  /**********************HEADER-IMG-LOG***********************/
  header {
    width: 100%;
  }
  
  .head-container {
    width: 100%;
    height: 700px;
    background-image: url("logo/logo/bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .logo-container {
    display: flex;
    padding: 20px 0 0 300px;
  }
  
  .logo {
    display: inline-block;
  }
  
  .logo-h2 {
    display: inline-block;
    color: rgb(55, 224, 247);
    margin: 10px 0 0 10px;
    font-weight: 100;
    font-size: 26px;
  }
  
  /***********************NAV-BAR***********************/
  
  .nav-container {
    position: absolute;
    display: inline-block;
    margin: -25px 0 0 1300px;
  }
  
  .nav ul {
    display: flex;
  }
  
  .nav li {
    list-style-type: none;
    text-decoration: none;
    padding: 0 9px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }
  
  a:hover {
    color: rgb(55, 224, 247);
    transition: 0.4s;
  }
  
  @media screen and (max-width: 1600px) and (min-width: 1500px) {
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 770px;
    }
  }
  
  @media screen and (max-width: 1500px) and (min-width: 1450px) {
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 730px;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1450px) and (min-width: 1390px) {
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 700px;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1390px) and (min-width: 1290px) {
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 660px;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1290px) and (min-width: 1190px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 200px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 550px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 8px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1190px) and (min-width: 1150px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 200px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 550px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 8px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1150px) and (min-width: 1000px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 150px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 450px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 8px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 1000px) and (min-width: 900px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 150px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 420px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 6px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  
    a:hover {
      color: rgb(55, 224, 247);
      transition: 0.4s;
    }
  }
  
  @media screen and (max-width: 900px) and (min-width: 800px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 100px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 320px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 6px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 800px) and (min-width: 730px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 20px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 290px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 6px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 730px) and (min-width: 670px) {
    .logo-container {
      display: flex;
      padding: 20px 0 0 20px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      margin: -25px 0 0 240px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 5px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 730px) and (min-width: 200px) {
    .logo-container {
      display: flex;
      align-content: center;
      justify-content: center;
      padding: 20px 0 0 20px;
    }
  
    .logo {
      display: inline-block;
    }
  
    .logo-h2 {
      display: inline-block;
      color: rgb(55, 224, 247);
      margin: 10px 0 0 10px;
      font-weight: 100;
      font-size: 26px;
    }
  
    .nav-container {
      position: absolute;
      display: inline-block;
      justify-content: center;
      text-align: center;
      margin: 20px 0 0 200px;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 5px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 730px) and (min-width: 420px) {
    .nav-container {
      width: 100%;
      margin: 0 auto;
    }
  
    .nav ul {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 5px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 420px) and (min-width: 200px) {
    .nav-container {
      width: 100%;
      margin: 0 auto;
    }
  
    .nav ul {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .nav li {
      list-style-type: none;
      text-decoration: none;
      padding: 0 5px;
    }
  
    .nav a {
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
    }
  }
  
  /*******************H1-P-P-BUTTON****************************/
  
  .h1-container {
    width: 100%;
  
    margin-top: 200px;
  }
  
  .header-h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  
  .line {
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    color: rgb(55, 224, 247);
  }
  
  .header-p {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    max-width: 850px;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
  }
  
  .button-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 35px 0 0 0;
  }
  
  .header-button {
    border: 1px solid rgb(55, 224, 247);
    color: rgb(55, 224, 247);
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    word-spacing: 5px;
    text-decoration: none;
  }
  
  .header-button:hover {
    color: #fff;
    background-color: rgb(55, 224, 247);
    border: 1px solid #fff;
  }
  
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  /***************************END OF HEADER***************************/
  /******************************************************************/
  
  /******** Section 1 ************/
  
  .ourstory {
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 450px;
  }
  
  .logo-ourstory {
    display: flex;
    flex-direction: row;
    padding: 120px;
    padding-left: 24%;
    float: left;
  }
  
  .ourstory-h1 {
    padding: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    padding-bottom: 15px;
  }
  
  .text-ourstory {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
  }
  
  .button-container-s1 {
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 35px 0 0 0;
  }
  
  .header-button-s1 {
    border: 1px solid rgb(55, 224, 247);
    color: rgb(55, 224, 247);
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    word-spacing: 5px;
    text-decoration: none;
  }
  
  .header-button-s1:hover {
    color: #fff;
    background-color: rgb(55, 224, 247);
    border: 1px solid #fff;
  }
  
  /******** Section 2 ************/
  
  .section-2-container {
    background-image: url("logo/logo/bgk-middle.png");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .play-logo-h2 {
    display: inline-flexbox;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
  }
  
  .logo-story-container {
    display: inline-flexbox;
    text-align: center;
    color: white;
    padding: 300px 500px;
  }
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  
  /***************************** Section 3 *****************************/
  /***************************** Section 3 *****************************/
  .section-3-container {
    width: 100%;
  }
  
  .section-3-inner-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .sec-3-h3 {
    padding: 100px 0 5px 0;
    font-size: 21px;
    font-weight: 600;
    color: #111;
  }
  
  .sec-3-p {
    color: rgb(97, 94, 94);
    font-size: 14px;
    font-weight: 500;
  }
  
  .sec-3-line {
    color:  rgb(55, 224, 247);
  }







  
  /********************IMG_DISPLAY_ROW_1***************/
  
  .sec-3-display-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }
  
  .sec-3-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .sec-3-row {
    display: flex;
    justify-content: center;
  }
  
  .sec-3-row + .sec-2-row {
    margin-left: 40px;
  }
  
  .sec-3-col {
    padding: 10px;
    max-width: 700px;
    border-bottom: 1px solid rgb(218, 215, 215);
  }
  
  .col-class-3 {
    border-right: 1px solid rgb(218, 215, 215);
    border-left: 1px solid rgb(218, 215, 215);
  }
  
  .sec-3-img {
    padding-top: 20px;
  }
  
  .sec-3-h4 {
    padding: 20px 0 5px 0;
    font-size: 13px;
    color: #111;
  }
  
  .sec-3-display-p {
    max-width: 250px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: rgb(97, 94, 94);
  }
  
  @media screen and (max-width: 700px) and (min-width: 100px) {
    .sec-3-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .sec-3-col {
      padding: 10px;
      max-width: 700px;
      border-bottom: 0px solid rgb(184, 179, 179);
    }
  
    .col-class-3 {
      border-right: 0px solid rgb(184, 179, 179);
      border-left: 0px solid rgb(184, 179, 179);
    }
  }
  
  /********************IMG_DISPLAY_ROW_2***************/
  
  .sec-3-2-display-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 00px;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .sec-3-2-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .sec-3-2-row {
    display: flex;
    justify-content: center;
  }
  
  .sec-3-2-row + .sec-2-2-row {
    margin-left: 40px;
  }
  
  .sec-3-2-col {
    padding: 9px;
    max-width: 700px;
  }
  
  .col-class-3 {
    border-right: 1px solid rgb(218, 215, 215);
    border-left: 1px solid rgb(218, 215, 215);
  }
  
  @media screen and (max-width: 700px) and (min-width: 100px) {
    .col-class-3 {
      border-right: 0px solid rgb(184, 179, 179);
      border-left: 0px solid rgb(184, 179, 179);
    }
  }
  
  .sec-3-2-img {
    padding-top: 20px;
  }
  
  .sec-3-2-h4 {
    padding: 20px 0 5px 0;
    font-size: 13px;
    color: #111;
  }
  
  .sec-3-2-display-p {
    max-width: 250px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    color: rgb(97, 94, 94);
  }
  
  @media screen and (max-width: 700px) and (min-width: 100px) {
    .sec-3-2-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  /**************************************************************/



  /****************************SECTION-5****************************/

  .sec-5-container {
    width: 100%;
    padding: 30px 0;
  }


  .sec-5-background {
    background-image: url(logo/logo/pic-replace.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    }

    .sec-5-inner-container {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      background-color: rgba(12, 6, 56, 0.877);
      height: 600px;
    }


    .sec-5-h2 {
      padding: 70px 10px 20px 10px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 700;
    }


    .sec-5-p {
      padding: 0 10px 0 10px;
      letter-spacing: 2px;
      color: #fff;
    }

    .sec-5-line {
      padding-top: 5px;
      color: rgb(55, 224, 247);
    }



    /***********************BOXES**********************/


  .four-box-container {
    width: 100%;
    padding-top: 50px;
    color: #fff;
  }



  .inside-box-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    
  }


  .sec-5-link {
    text-decoration: none;
  }



  .inside-box {
    width: 100%;
    max-width: 200px;
    height: 150px;
    padding-top: 158px;
    background-color: #fff;
    
  }

  .inside-box:hover {
    background-color:  rgb(55, 225, 247);
    transition: 0.4s;
  }
  

  .boxes-1 {
    margin: 0 20px;
    width: 21%;
    max-width: 179px;
    min-width: 179px;
  }


  .box-h4 {
    width: 179px;
    padding: 10px 0 4px 0;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 0px solid rgba(255, 255, 255, 0);
  }


  .box-p {
    padding-bottom: 10px; 
    width: 179px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    border: 1px solid #fff;
    border-top: 0px solid rgba(255, 255, 255, 0);
  }



  @media screen and (max-width: 876px) and (min-width: 765px){


    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }



    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 200px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }


    .boxes-1 {
      margin: 0 5px;
      width: 21%;
      max-width: 179px;
      min-width: 179px;
    }

  }


  @media screen and (max-width: 765px) and (min-width: 640px){


    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }



    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 150px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }


    .boxes-1 {
      margin: 0 5px;
      width: 21%;
      max-width: 150px;
      min-width: 150px;
    }


    .box-h4 {
      width: 150px;
      padding: 10px 0 4px 0;
      font-size: 13px;
      font-weight: 700;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 0px solid rgba(255, 255, 255, 0);
    }
  
  
    .box-p {
      padding-bottom: 10px; 
      width: 150px;
      font-weight: 300;
      font-size: 10px;
      border: 1px solid #fff;
      border-top: 0px solid rgba(255, 255, 255, 0);
    }

  }


  @media screen and (max-width: 640px) and (min-width: 460px){


    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }



    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 100px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }


    .boxes-1 {
      margin: 0 5px;
      width: 21%;
      max-width: 100px;
      min-width: 100px;
    }


    .box-h4 {
      width: 100px;
      padding: 10px 0 4px 0;
      font-size: 13px;
      font-weight: 700;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 0px solid rgba(255, 255, 255, 0);
    }
  
  
    .box-p {
      padding-bottom: 10px; 
      width: 100px;
      font-weight: 300;
      font-size: 10px;
      border: 1px solid #fff;
      border-top: 0px solid rgba(255, 255, 255, 0);
    }

  }


  @media screen and (max-width: 460px) and (min-width: 381px){


    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }



    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 70px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }


    .boxes-1 {
      margin: 0 -10px;
      width: 21%;
      max-width: 70px;
      min-width: 100px;
    }


    .box-h4 {
      width: 70px;
      padding: 10px 0 4px 0;
      font-size: 13px;
      font-weight: 700;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 0px solid rgba(255, 255, 255, 0);
    }
  
  
    .box-p {
      padding: 10px 0;
      width: 70px;
      font-weight: 300;
      font-size: 8px;
      border: 1px solid #fff;
      border-top: 0px solid rgba(255, 255, 255, 0);
    }


    .box-p-2 {
      font-size: 7px;
    }

  }



  @media screen and (max-width: 381px) and (min-width: 100px){


    .four-box-container {
      width: 100%;
      padding-top: 50px;
      color: #fff;
    }



    .inside-box-container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .inside-box {
      width: 100%;
      max-width: 70px;
      height: 150px;
      padding-top: 158px;
      background-color: #fff;
   }


    .boxes-1 {
      margin: 0 1px;
      width: 21%;
      max-width: 70px;
      min-width: 70px;
    }


    .box-h4 {
      width: 70px;
      padding: 10px 0 4px 0;
      font-size: 13px;
      font-weight: 700;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 0px solid rgba(255, 255, 255, 0);
    }
  
  
    .box-p {
      padding: 10px 0;
      width: 70px;
      font-weight: 300;
      font-size: 8px;
      border: 1px solid #fff;
      border-top: 0px solid rgba(255, 255, 255, 0);
    }


    .box-p-2 {
      font-size: 7px;
    }

  }




  /****************************SECTION-SIX******************************/

  .sec-six {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}


.wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 10% 10%;
    grid-gap: 4em;
    justify-content: center;
}


.wrapper > div:nth-child(2) {
    
    margin-top: 120px;
    padding: 20px 0;
}

.wrapper > div:nth-last-child(odd) {
    
    padding: 1em;
    margin-top: 120px;
}

.wrapper > div:nth-child(3) {
    margin-top: 200px; 
    
}


form {
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 0; 
}





.sec-six-img {
    margin: 10px 0;
}



.h3-two {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


input,
#massage {
    padding: 10px 20px;
}


#name,
#email,
#subject,
#massage {
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(235, 239, 240);
    font-size: 15px;
    font-weight: 500;
}


#name:hover {
  border: 1px solid rgb(26, 216, 250);
  transition: 0.3s;
  cursor: pointer;
}
#email:hover {
  border: 1px solid rgb(26, 216, 250);
  transition: 0.3s;
  cursor: pointer;
}
#subject:hover {
  border: 1px solid rgb(26, 216, 250);
  transition: 0.3s;
  cursor: pointer;
}
#massage:hover {
  border: 1px solid rgb(26, 216, 250);
  transition: 0.3s;
  cursor: pointer;
}


#submit {
    width: 15%;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    color: rgb(26, 216, 250);
    border: 1px solid rgb(26, 216, 250);
}


#submit:hover {
    background-color: rgb(26, 216, 250);
    color: #fff;
    border: 1px solid #fff;
    transition: 0.2s;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.20);
}


.sec-6-h3 {
  padding-bottom: 20px;
}





  /********************FOOTER***************/


  footer {
    width: 100%;
    background-image: url(logo/logo/bgk-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  
  
  .footer-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }
  
  
  .footer-logo {
    margin-bottom: 20px;
  }
  
  .footer-h3-1 {
    color: rgb(26, 216, 250);
    font-size: 30px;
    font-weight: 400;
  }
  
  
  .footer-p {
    color: #fff;
    font-size: 13px;
    padding-left: 5px;
  }
  
  
  .footer-sec {
    padding: 3em;
  }
  
  
  
  .footer-div-1-flex {
    display: flex;
    padding-right: 1em;
  }
  
  
  
  
  
  
  .footer-div-2-flex {
    display: flex;
    
  }
  
  
  .footer-h3-2 {
    padding-bottom: 50px;
    font-size: 16px;
    color: #fff;
  }
  
  .sub-h4 {
    color: #fff;
  }
  
  
  
  
  
  
  .footer-div-3-flex {
    display: flex;
    padding: 20px;
  }
  
  
  
  
  .paper-flex {
    display: flex;
  }
  
  
  
  
  
  .paper {
    border: 1px solid rgb(26, 216, 250);
    padding: 6px 13px 8px 13px;
    background-color: rgba(255, 255, 255, 0.281);
  }
  
  .paper:hover {
    background-color: rgb(26, 216, 250);
  }
  
  
  #footer-submit {
    font-size: 12px;
    margin: 30px 0 10px 0;
    color: #fff;
    background-color: rgba(100, 148, 237, 0);
    border: 1px solid  rgb(26, 216, 250);
  }
  
  
  #footer-submit:hover {
    background-color: rgba(255, 255, 255, 0.281);
    transition: 0.4s;
  }

  .footer-flex-container {
    width: 100%;
    display: grid;
    padding-bottom: 30px;
    grid-template-columns: 34% 34%;
    justify-content: center;
    text-align: center;
  }
  
  
  .footer-navigation {
    margin: 0 auto;
  }
  
  
  .footer-navigation li {
    display: inline-block;
  }
  
  .footer-navigation li a {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
  }
  
  
  .footer-navigation li a:hover {
    color:  rgb(26, 216, 250);
  }
  
  
  .footer-ender{
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
  }